django==1.7.8
git+https://github.com/kimiscircle/fdfs_client-py.git
git+https://github.com/kimiscircle/django-rest-framework.git
git+https://github.com/kimiscircle/gdata.git
python3-memcached
south
celery
facebook
twitter
httplib2
requests_oauthlib
django-rest-swagger==0.2.9
paho-mqtt
mutagen
django_compressor==1.4
django-imagekit==3.2.5
django-haystack==2.3.1
django-debug-toolbar==1.2.2
django_jinja
ua-parser
user-agents
django-user-agents
Markdown==2.5.2
unidecode
sqlparse
PyMySQL
django-filter
Whoosh==2.6.0
PyYAML==3.11
Pillow==2.7.0
chinaapi
pytz
urllib3
pycrypto==2.6.1
httpsig==1.0.0
